body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #e9e6e6;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.social-icons a {
    margin-right: 10px;
    color: #333;
}

.social-icons img {
    width: 32px;
    height: 32px;
}

.logo img {
    padding-top: 40px;
    width: 300px;
}

.header-content {
    padding: 20px;
    text-align: center;
}

.title-portal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.title-portal h1 {
    margin: 0;
    font-size: 30px;
    flex-grow: 1;
    text-align: center;
}

.title-portal h1 span {
    color: green;
}

.portal-btn {
    color: #61A0D0;
    padding: 5px;
    width: 120px;
    text-decoration: none;
    border: 1px solid #61A0D0;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
}

.portal-btn i {
    margin-right: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul.row1, nav ul.row2 {
    margin: 5px 0;
}

nav li {
    margin: 2px 15px;
}

nav li:nth-child(3) {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

nav a.nav-link:active {
    color: green;
}

main {
    padding: 20px;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group.full-width {
    grid-column: 1 / -1;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: calc(100% - 15px);
    padding: 15px 10px;
    border: 1px solid #9AC747;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f9f9f9;
}

textarea {
    resize: vertical;
}

.submit-btn {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #61A0D0;
    font-size: 16px;
    grid-column: 1 / -1;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-group .captcha-image {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 50px;
    object-fit: cover;
    background-color: #F9F9F9;
}

.checkbox-group.captcha-container label {
    border: 1px solid #ccc;
    background-color: #FAFAFA;
    padding: 10px 15px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
}

.picture-upload {
    border: 2px dashed #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.picture-upload .upload-container {
    flex: 0 0 auto;
}

.picture-upload input[type="file"] {
    display: none;
}

.picture-upload .upload-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #FAFAFA;
    padding: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 1.2;
}

.picture-upload .upload-icon {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.picture-upload .instructions {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.picture-upload p {
    display: flex;
    margin: 0;
    font-size: 12px;
}

.picture-upload p:first-child {
    font-weight: bold;
    font-size: 14px;
}